.image-popup {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.image-popup__container {
  position: relative;
  max-width: 85vw;
  max-height: 90vh;
}

.image-popup__image {
  max-width: 100%;
  max-height: 75vh;
  object-fit: contain;
  display: block;
}

.image-popup__description {
  width: 100%;
  margin: 10px 0 0 0;
}

.image-popup__text {
  font-size: 12px;
}

.image-popup__close {
  position: absolute;
  top: -50px;
  right: -50px;
}

.image-popup__close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.image-popup__close-icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 900px) {
  .image-popup__container {
    max-width: 75vw;
  }
}

@media screen and (max-width: 560px) {
  .image-popup__close-icon {
    width: 30px;
    height: 30px;
  }

  .image-popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
  }
}

@media screen and (max-width: 440px) {
  .image-popup__container {
    max-width: 60vw;
  }
}
