.popup_type_add .popup__close-icon {
  width: 40.7px;
  height: 40.7px;
}

@media screen and (max-width: 560px) {
  .popup_type_add .popup__container {
    height: 322px;
  }

  .popup_type_add .popup__container-title {
    margin: 25px 22px 76px;
  }

  .popup_type_add .popup__container-input {
    margin: 0 22px 39px;
  }

  .popup_type_add .popup__container-button {
    margin: 7px 22px 25px;
  }

  .popup_type_add .popup__close {
    margin-bottom: 13.6px;
  }
}
