.profile {
  display: flex;
  padding: 40px 0 50px;
  justify-content: space-between;
}

.profile__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 100%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "description .";
}

.profile__info-name {
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-height: 39px;
  margin: 25px 25px 0 0;
}

.profile__info-description {
  grid-area: description;
  margin: 0;
}

.profile__info-button {
  grid-area: button;
  align-self: baseline;
  padding-top: 38px;
  padding-right: 165px;
}

.profile__add-button {
  padding-top: 38px;
  justify-self: end;
}

.profile__add-button-big {
  display: none;
}

@media screen and (max-width: 885px) {
  .profile {
    padding: 40px 20px 50px;
  }

  .profile__info-name {
    font-size: 38px;
  }

  .profile__info-button {
    padding-right: 80px;
  }

  .profile__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 760px) {
  .profile__info-name {
    font-size: 28px;
    margin-right: 0;
  }

  .profile__info-button {
    padding: 40px 40px 0 10px;
  }

  .profile__add-button-image {
    width: 120px;
  }

  .profile__info-button-image {
    width: 18px;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
  }

  .profile__info-name {
    font-size: 22px;
    margin: 26px 10px 0 0;
  }

  .profile__info-button {
    padding: 40px 0 0;
  }

  .profile__info-description {
    justify-self: center;
    padding: 14px 0 0 18px;
    font-size: 14px;
  }

  .profile__add-button {
    display: none;
  }

  .profile__add-button-big {
    display: block;
    padding-top: 36px;
  }
}
