@import url(/src/vendor/normalize.css);
@import url(/src/blocks/global.css);
@import url(/src/vendor/fonts.css);
@import url(/src/blocks/page.css);
@import url(/src/blocks/header.css);
@import url(/src/blocks/elements.css);
@import url(/src/blocks/profile.css);
@import url(/src/blocks/content.css);
@import url(/src/blocks/footer.css);
@import url(/src/blocks/popup.css);
@import url(/src/blocks/popup_type_add.css);
@import url(/src/blocks/image-popup.css);
@import url(/src/blocks/popup_type_delete.css);
@import url(/src/blocks/popup_type_pfp.css);
