.profile {
  display: flex;
  padding: 40px 0 50px;
  justify-content: space-between;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  transition: opacity 0.3s;
}

.profile__image-container {
  position: relative;
}

.profile__edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__image-container:hover .profile__edit-icon {
  opacity: 1;
}

.profile__image-container:hover .profile__image {
  opacity: 25%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "description .";
  margin-left: 30px;
}

.profile__info-name {
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-height: 45px;
  margin: 25px 25px 0 0;

  max-width: 570px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__info-description {
  grid-area: description;
  margin: 0;

  max-width: 570px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__info-button {
  grid-area: button;
  align-self: baseline;
  padding-top: 38px;
  padding-right: 165px;
}

.profile__info-button:hover {
  opacity: 60%;
}

.profile__add-button {
  padding-top: 38px;
  justify-self: end;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__add-button-big {
  display: none;
}

.profile__add-button-big:hover {
  opacity: 60%;
}

@media screen and (max-width: 885px) {
  .profile {
    padding: 40px 20px 50px;
  }

  .profile__info-name {
    font-size: 38px;
  }

  .profile__info-button {
    padding-right: 80px;
  }

  .profile__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 790px) {
  .profile__info-name {
    font-size: 28px;
    margin-right: 0;
  }

  .profile__info-button {
    padding: 40px 40px 0 10px;
  }

  .profile__add-button-image {
    width: 120px;
  }

  .profile__info-button-image {
    width: 18px;
  }
}

@media screen and (max-width: 614px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
  }

  .profile__info-name {
    font-size: 22px;
    margin: 26px 10px 0 0;
  }

  .profile__info-button {
    padding: 40px 0 0;
  }

  .profile__info-description {
    justify-self: center;
    font-size: 14px;
    max-width: 282px;
  }

  .profile__add-button {
    display: none;
  }

  .profile__add-button-big {
    display: block;
    padding-top: 36px;
  }
}
